<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>

  <button id="click-here">CLICK ME</button>
  <section id="pairs">
  </section>

<h1>Hello this is Thermocat</h1>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/backend.js"></script>
<script src="/javascripts/app.js"></script>
</body>

</html>