<!DOCTYPE HTML>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>

  <header>
    <h1>Pair Programming Randomizer</h1>
    <h2>Unsure who to pair with? Click the button!</h2>
    <p class='small'>* if you get the 'lone wolf', feel free to seek an alum helper to pair with you</p>
  </header>

  <main class='main-body'>
    <article class='button-container'>
      <p class='small'>pick a cohort:</p>
      <button class="select-cohort" id="october">October</button>
      <button class="select-cohort" id="december">December</button>
      <p id='active-cohort' class='small'></p>
    </article>
    <button id="click-here">CLICK ME!</button>
    <section id="pairs"></section>
  </main>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/backend.js"></script>
  <script src="/javascripts/app.js"></script>
</body>

</html>