<!DOCTYPE HTML>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>

  <%= yield %>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/d3.min.js"></script>
  <script src="/javascripts/backend.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/chart.js"></script>
</body>

</html>